<mat-tab-group mat-stretch-tabs>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">chat_bubble</mat-icon>
            Conversas
        </ng-template>

        <app-list-conversations></app-list-conversations>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">contacts</mat-icon>
            Contatos
        </ng-template>
        Content 2
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">archive</mat-icon>
            Arquivadas
        </ng-template>
        Content 3
    </mat-tab>
</mat-tab-group>